.footer_img {
  max-width: 36px;
  min-height: 24px;
}

.modal-content {
  align-items: center;
}

/* @media (max-width: 546px) {
  .main {
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .start__img.for-mob {
    height: 56px;
  }
} */

@media (orientation: portrait) {
  .main {
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .start__img.for-mob {
    height: 56px;
  }
}

@media (max-width: 400px) {
  .cta__img {
    width: 223px;
    height: 150px;
  }
}
